.news__item {
    border: 1px solid #ddd;
    /*margin-bottom: 15px;*/
    /*margin-right: 15px;*/
    gap: 10px;
    max-height: 400px;
    height: 100%;
}

.news__item_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    height: 200px;
}

.news__item_image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.news__item_date {
    color: var(--text-color-w);
    font-size: 20px;
    padding-bottom: 10px;
}

.news__item_title {
    font-weight: 400;
    margin-bottom: 0;
    color: var(--text-color);
    font-size: 20px;
}

.news__item_excerpt {
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.news__item_link {
    display: inline-block;
    text-align: right;
    width: 100%;
    color: var(--text-color);
    font-weight: 500;
    text-decoration: none;
    transition: color 0.2s ease;
    padding-bottom: 10px;
}

.news__item_link:hover {
    color: var(--text-color-w);
}